nav{
    grid-area: n;
    display:grid;
    background-color: rgb(86, 209, 250);
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight:400;
    font-style: bold;
    margin-top: -10px;
    margin-left: -10px;
    margin-right:-10px;
    width:100%;
}

nav a{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-size: 1em;
    color:rgb(35, 100, 175);
    position:relative;
    top:80px;
    margin: 0 auto;
    text-decoration:none; 

}
nav svg{
    fill:#FFFFFF;
    display:inline;
    transform-origin: 0px 0px;
    transform:scale(.8);
    font-family:'lust-script-display', sans-serif;
}